<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proton | Home</title>
</head>
<body>
    <header>
        <img src="../assets/img/logo.png" alt="Logo KPM Universitas Telkom" width="100">
        <p>Korps Protokol Mahasiswa <br> Universitas Telkom</p>
        <p>Raditya Atallahasyrif Rachmadie <br> Kepala Departemen Internal</p>
        <a href="">Log out</a>
    </header>

    <aside>
        <nav>
            <a href="">Dashboard</a>
            <a href="">Anggota</a>
            <a href="">Proker</a>
            <a href="">Penugasan</a>
        </nav>
    </aside>

    <main>
        <h1>Dashboard</h1>

        <h2>Kepengurusan Kabinet Adhighana Sahwahita</h2>
        <table border="1">
            <tr>
                <th>Departemen</th>
                <th>Kepala Departemen</th>
                <th>Wakil Kepala Departemen</th>
                <th>Jumlah Anggota</th>
            </tr>
            <tr>
                <td>PO</td>
                <td>Muhammad Iqbal Al farisyi</td>
                <td>Fulgentia Marianne</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Internal</td>
                <td>Raditya Atallahasyrif Rachmadie</td>
                <td>Sheila Putri Anggraeni</td>
                <td>27</td>
            </tr>
            <tr>
                <td>PSDM</td>
                <td>Azzahra Deli Kesuma</td>
                <td>Naylafara Nawang Pawestri</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Kominfo</td>
                <td>Risya Nadira Putri Fristiadi</td>
                <td>Fatin Muflihuts Tsani</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Eksternal</td>
                <td>Salwa Kholidah Damayanti</td>
                <td>Khalidullah Assyauqi</td>
                <td>28</td>
            </tr>
            <tr>
                <td colspan="3">TOTAL</td>
                <td>131</td>
            </tr>
        </table>

        <h2>Proker sedang Berjalan</h2>
        <table border="1" >
            <tr>
                <th>No.</th>
                <th>Nama Kegiatan</th>
                <th>Departemen</th>
                <th>Ketuplak</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Rapat Triwulan III</td>
                <td>Internal</td>
                <td>Shabrina Ammara</td>
                <td>Presentasi KKA</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Open Recruitment KPM</td>
                <td>PSDM</td>
                <td>Rehan AF</td>
                <td>On-Going</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Pemilihan Ketua Umum</td>
                <td>Internal</td>
                <td>Meisya Azzahra</td>
                <td>Proposal</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Donor Darah</td>
                <td>Eksternal</td>
                <td>Nabil Rae Keefea</td>
                <td>On-Going</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>River Clean Up</td>
                <td>Eksternal</td>
                <td>Sadid Nur Samdya Adabi</td>
                <td>On-Going</td>
            </tr>
        </table>
        
        <h2>Penugasan sedang Berjalan</h2>
        <table border="1" >
            <tr>
                <th>No.</th>
                <th>Nama Kegiatan</th>
                <th>Mitra</th>
                <th>Tingkat</th>
                <th>Jumlah Petugas</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Wisuda Periode III T.A. 2025/2026</td>
                <td>Bidang 1 Universitas Telkom</td>
                <td>Universitas</td>
                <td>50</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Anugerah Kemahasiswaan 2026</td>
                <td>Direktorat KKA</td>
                <td>Universitas</td>
                <td>10</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Asia Africa Festival</td>
                <td>Dinas Kebudayaan dan Pariwisata Kota Bandung</td>
                <td>Regional</td>
                <td>10</td>
            </tr>
        </table>
    </main>
</body>
</html>